{% extends "layout.html" %}
{% block content %}
  <main id="post-283102" class="instapaper_body h-entry e-content">

    <header class="mega-header header-breadcrumbs single-video-header header-with-bottom-gradient" id="maincontent">

      <style>
        .mega-header::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image:
            radial-gradient(ellipse closest-side, rgba(15, 14, 22, 0.5), #100e17),
            url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/40786564395233.5ad0a38665840.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          opacity: 0.75;
        }
      </style>

      <div class="mega-header-inside">

        <div class="mega-header-header">
          <span><span><span><a href="http://ccresources.herokuapp.com/" >Home</a> <span class="breadcrumb-separator">/</span> <span><a href="http://ccresources.herokuapp.com/" >Video Screencasts</a> <span class="breadcrumb-separator">/</span> <span class="breadcrumb_last">#001: Changing drawing backgrounds in photoshop</span></span></span></span></span>
          <h1 class="screen-reader">
            #170: Watch an Amateur Spin Up a React + Babel + Webpack + CSS Modules Project        </h1>

          <div class="article-content-meta">

       <div class="author-avatar">
      <a href="https://ymcmbennie.github.io/portfolio/">
        <img alt='Photo of Benson Sanga' src='https://scontent.flhr5-1.fna.fbcdn.net/v/t1.0-9/25659525_1660669194003997_812779653662270213_n.jpg?_nc_cat=102&_nc_ht=scontent.flhr5-1.fna&oh=4de2328aab11e7ea40fb38265d2803a3&oe=5D0BB7BE' srcset='' class='avatar avatar-80 photo' height='80' width='80' />    </a>
      <svg class="half-circle" width="80px" height="80px">
        <use xlink:href="#half-circle"></use>
      </svg>
    </div>

    <div class="author-name-area">
      <div class="author-name-prefix">
        Author
      </div>
      <a class="author-name" href="https://ymcmbennie.github.io/portfolio/">
        Benson Sanga</a>
    </div>

    <div class="article-comments-meta">
      <div class="comments-prefix">
        Comments    </div>
      <a class="comments-link" href="https://www.youtube.com/watch?v=pxNrUg7t0Mg">
                Go to Comments
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-arrow-right">
  <path d="M7 12.5L23 12.5" stroke="url(#paint0_linear)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M1 12.5H2" stroke="url(#paint1_linear)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M17.5 7L23 12.5L17.5 18" stroke="url(#paint2_linear)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <defs>
  <linearGradient id="paint0_linear" x1="10.7498" y1="12.5" x2="11.3447" y2="9.73465" gradientUnits="userSpaceOnUse">
  <stop stop-color="#FF8A00"/>
  <stop offset="1" stop-color="#DA1B60"/>
  </linearGradient>
  <linearGradient id="paint1_linear" x1="1.23436" y1="12.5" x2="2.00945" y2="12.2748" gradientUnits="userSpaceOnUse">
  <stop stop-color="#FF8A00"/>
  <stop offset="1" stop-color="#DA1B60"/>
  </linearGradient>
  <linearGradient id="paint2_linear" x1="18.789" y1="17.9995" x2="23.3162" y2="17.3419" gradientUnits="userSpaceOnUse">
  <stop stop-color="#FF8A00"/>
  <stop offset="1" stop-color="#DA1B60"/>
  </linearGradient>
  </defs>
  </svg>
      </a>
    </div>

        <div class="created">
        <div class="created-prefix">
          Published
        </div>
        <time datetime="">
          Mar 4, 2019      </time>
      </div>

          <div class="updated">
        <div class="updated-prefix">
          Updated
        </div>
        <time datetime="">
          Mar 4, 2019      </time>
      </div>

  </div>
          <div class="single-video-wrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/pxNrUg7t0Mg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>

            <div class="tags">
      <a href="tag/babel/" rel="tag">Photoshop</a> <a href="tag/css-modules/" rel="tag">Drawings</a> <a href="tag/css-in-js/" rel="tag">Colors</a> <a href="tag/react/" rel="tag">Presentations</a> <a href="tag/webpack/" rel="tag">Shortcuts</a>  </div>

        </div>

        <div class="hero-article-ad" id="hero-article-ad">
        </div>

      </div>

    </header>

    <div class="header-gradient-after">
    <div class="header-gradient-content">
      <div class="header-gradient-content-inside">

        <div class="sharedaddy sd-sharing-enabled"><div class="robots-nocontent sd-block sd-social sd-social-text sd-sharing"><h3 class="sd-title">Share this:</h3><div class="sd-content"><ul><li class="share-twitter"><a rel="nofollow noopener noreferrer" data-shared="sharing-twitter-283102" class="share-twitter sd-button no-icon" href="https://twitter.com/intent/tweet?button_hashtag=ccresources&ref_src=twsrc%5Etfw" target="_blank" title="Click to share on Twitter"><span>Twitter</span></a></li><li class="share-facebook"><a rel="nofollow noopener noreferrer" data-href="http://ccresources.herokuapp.com/" class="share-facebook sd-button no-icon" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fccresources.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore" target="_blank" title="Click to share on Facebook"><span>Facebook</span></a></li><li class="share-end"></li></ul></div></div></div>
                <div class="bold-underline-links header-gradient-sponsor">
            <p>Help us out by sharing this with others <a href="http://ccresources.herokuapp.com/">CC Resources</a>
  </p>        </div>

      </div>
    </div>
  </div>
  </main>

  <div class="related-ads-comments-wrap">
    <div class="related-ads-comments">
            <div class="related-posts">


  <!-- Jetpack Related Posts is not supported in this context. -->

  </div>      <div class="end-of-article-ads">

        <div class="bsap-doubles side-by-side">

        <div id="bsap_1250418" class="bsarocks bsap_3469a2a501a9e18091036aa0c89f9dcb"></div>

      </div>

  </div>

  <section class="respond-area">



    <div class="comments-closed bold-underline-links">
      This video has been posted to aid designer and architects to learn. For any questions <a href="https://ymcmbennie.github.io/portfolio/">contact us</a>.
    </div>


  </section>      </div>
  </div>

    </div>
{% endblock content %}