{% extends "layout.html" %}
{% block content %}

<header class="page-header" id="maincontent">

  <h1>CC CAD files (Dwg, Dxf and more...)</h1>

  <p class="page-intro-p bold-underline-links">An index of shared site files for various locations based on name. Enjoy and <a href="mailto: bensonsanga@hotmail.com">Contribute</a></p>

  <div class="page-header-top-nav">
    <div class="page-header-top-nav-inside">
      <a href="#letter-A">A</a>
      <a href="#letter-B">B</a>
      <a href="#letter-D">C</a>
      <a href="#letter-D">D</a>
      <a href="#letter-E">E</a>
      <a href="#letter-F">F</a>
      <a href="#letter-G">G</a>
      <a href="#letter-H">H</a>
      <a href="#letter-I">I</a>
      <a href="#letter-J">J</a>
      <a href="#letter-K">K</a>
      <a href="#letter-L">L</a>
      <a href="#letter-M">M</a>
      <a href="#letter-N">N</a>
      <a href="#letter-O">O</a>
      <a href="#letter-P">P</a>
      <a href="#letter-Q">Q</a>
      <a href="#letter-R">R</a>
      <a href="#letter-S">S</a>
      <a href="#letter-T">T</a>
      <a href="#letter-U">U</a>
      <a href="#letter-V">V</a>
      <a href="#letter-W">W</a>
      <a href="#letter-X">X</a>
      <a href="#letter-Y">Y</a>
      <a href="#letter-Z">Z</a>
    </div>
  </div>

</header>

<div class="page-wrap page-wrap-almanac page-wrap-max-width">

  <nav class="post group almanac-pages">

    <header class="almanac-headers">

      <div>
        <h2>
          <a href="/almanac/selectors/">
            Cad files
          </a>
        </h2>
        <p>Cad files are collected from municipalities and students. Their accuracy depends on the year you are reading this</p>
      </div>
      <div>
        <h2>
          <a href="/almanac/properties/">
            BAD Elements
          </a>
        </h2>
        <p>Premade models by creatives like you who want whats best for you. Free to use and publish</p>
      </div>
    </header>

    <div class="almanac-letter-row" id="letter-A">
      <div class="selector-letter"><a href="/selectors/a/">A</a></div>
      <div class="selector-list">
        <ol>
          <li><a href="/selectors/a/any-link/">:any-link</a></li>
          <li><a href="/selectors/a/after-and-before/">::after / ::before</a></li>
          </div>
          <div class="property-letter"><a href="/properties/a/">A</a></div>
          <div class="property-list">
             <ol>
              <li><a href="/static/resources/A0 Paper Size-01.psd" download>A0 Paper Size-Psd</a></li>
             <li><a href="/static/resources/A1 Paper Size-01.psd" download>A1 Paper Size-Psd</a></li>
             <li><a href="/static/resources/A1 Paper Size-01.psd" download>A2 Paper Size-Psd</a></li>
             <li><a href="/static/resources/A0 Paper Size.ai" download>A0 Paper Size-ai</a></li>
             <li><a href="/static/resources/A1 Paper Size.ai" download>A1 Paper Size-ai</a></li>
             <li><a href="/static/resources/A1 Paper Size.ai" download>A2 Paper Size-ai</a></li>
             <li><a href="/properties/a/align-self/">align-self</a></li>
          </div>
          </div>
          <div class="almanac-letter-row" id="letter-B">
             <div class="selector-letter"><a href="/selectors/b/">B</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/b/blank/">:blank</a></li>
             </div>
             <div class="property-letter"><a href="/properties/b/">B</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/static/resources/Benson AD Plugin Mesh growth and More.rar" download>BensonAD GHC</a></li>
                <li><a href="/properties/b/border-radius/">border-radius</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-C">
             <div class="selector-letter"><a href="/selectors/c/">C</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/c/checked/">:checked</a></li>
                <li><a href="/selectors/c/class/">Class</a></li>
             </div>
             <div class="property-letter"><a href="/properties/c/">C</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/static/resources/MicroscopicRender.c4d" download>C4D Microscopic render template</a></li>
                <li><a href="/static/resources/WoodSetup.c4d" download>C4D Wood render template</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-D">
             <div class="selector-letter"><a href="/selectors/d/">D</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/d/dir/">:dir()</a></li>
                <li><a href="/selectors/d/default/">:default</a></li>
             </div>
             <div class="property-letter"><a href="/properties/d/">D</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/d/direction/">direction</a></li>
                <li><a href="/properties/d/display/">display</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-E">
             <div class="selector-letter"><a href="https://css-tricks.com/14166-revision-v1/">E</a></div>
             <div class="selector-list">
                <ol>
             </div>
             <div class="property-letter"><a href="/properties/e/">E</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/e/empty-cells/">empty-cells</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-F">
             <div class="selector-letter"><a href="/selectors/f/">F</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/f/focus-visible/">:focus-visible</a></li>
                <li><a href="/selectors/f/focus-within/">:focus-within</a></li>
             </div>
             <div class="property-letter"><a href="/properties/f/">F</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/f/font-variant-numeric/">font-variant-numeric</a></li>
                <li><a href="/properties/f/font-display/">font-display</a></li>
                <li><a href="/properties/f/fill/">fill</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-G">
             <div class="selector-letter"><a href="/selectors/g/">G</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/g/general-sibling/">General sibling</a></li>
             </div>
             <div class="property-letter"><a href="/properties/g/">G</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/g/grid-rows-columns/">grid-template-columns / grid-template-rows</a></li>
                <li><a href="/properties/g/grid-row-column/">grid-row / grid-column</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-H">
             <div class="selector-letter"><a href="/selectors/h/">H</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/h/hover/">:hover</a></li>
             </div>
             <div class="property-letter"><a href="/properties/h/">H</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/h/hanging-punctuation/">hanging-punctuation</a></li>
                <li><a href="/properties/h/hyphenate/">hyphens</a></li>
                <li><a href="/properties/h/height/">height</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-I">
             <div class="selector-letter"><a href="/selectors/i/">I</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/i/is/">:is()</a></li>
                <li><a href="/selectors/i/indeterminate/">:indeterminate</a></li>
             </div>
             <div class="property-letter"><a href="/properties/i/">I</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/static/resources/Design Catalogue.ai" download>Illustrator manniquen Catalogue</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-J">
             <div class="selector-letter"><a href="/selectors/j/">J</a></div>
             <div class="selector-list">
                <ol>
             </div>
             <div class="property-letter"><a href="/properties/j/">J</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/j/justify-content/">justify-content</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-K">
             <div class="selector-letter"><a href="/selectors/k/">K</a></div>
             <div class="selector-list">
                <ol>
             </div>
             <div class="property-letter"><a href="/properties/k/">K</a></div>
             <div class="property-list">
                <ol>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-L">
             <div class="selector-letter"><a href="/selectors/l/">L</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/l/last-of-type/">:last-of-type</a></li>
                <li><a href="/selectors/l/last-child/">:last-child</a></li>
             </div>
             <div class="property-letter"><a href="/properties/l/">L</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/l/line-clamp/">line-clamp</a></li>
                <li><a href="/properties/l/letter-spacing/">letter-spacing</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-M">
             <div class="selector-letter"><a href="/selectors/m/">M</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/m/marker/">::marker</a></li>
                <li><a href="/selectors/m/matches/">:matches()</a></li>
             </div>
             <div class="property-letter"><a href="/properties/m/">M</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/m/mix-blend-mode/">mix-blend-mode</a></li>
                <li><a href="/properties/m/max-width/">max-width</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-N">
             <div class="selector-letter"><a href="/selectors/n/">N</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/n/not/">:not(s)</a></li>
                <li><a href="/selectors/n/nth-last-of-type/">:nth-last-of-type</a></li>
             </div>
             <div class="property-letter"><a href="/properties/n/">N</a></div>
             <div class="property-list">
                <ol>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-O">
             <div class="selector-letter"><a href="/selectors/o/">O</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/o/out-of-range/">:out-of-range</a></li>
                <li><a href="/selectors/o/optional/">:optional</a></li>
             </div>
             <div class="property-letter"><a href="/properties/o/">O</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/o/scrollbar-gutter/">scrollbar-gutter</a></li>
                <li><a href="/properties/o/offset-anchor/">offset-anchor</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-P">
             <div class="selector-letter"><a href="/selectors/p/">P</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/p/placeholder-shown/">:placeholder-shown</a></li>
                <li><a href="/selectors/p/placeholder/">::placeholder</a></li>
             </div>
             <div class="property-letter"><a href="/properties/p/">P</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/p/place-items/">place-items</a></li>
                <li><a href="/properties/p/pointer-events/">pointer-events</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-Q">
             <div class="selector-letter"><a href="/selectors/q/">Q</a></div>
             <div class="selector-list">
                <ol>
             </div>
             <div class="property-letter"><a href="/properties/q/">Q</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/q/quotes/">quotes</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-R">
             <div class="selector-letter"><a href="/selectors/r/">R</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/r/read-write-read/">:read-write / :read-only</a></li>
                <li><a href="/selectors/r/required/">:required</a></li>
                <li><a href="/selectors/r/root/">:root</a></li>
             </div>
             <div class="property-letter"><a href="/properties/r/">R</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/r/resize/">resize</a></li>
                <li><a href="/properties/r/right/">right</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-S">
             <div class="selector-letter"><a href="/selectors/s/">S</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/s/selection/">::selection</a></li>
             </div>
             <div class="property-letter"><a href="/properties/s/">S</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/static/resources/svgs_collection.zip" download>svgs_collection-0</a></li>
                <li><a href="/static/resources/svgs_collection (1).zip" download>svgs_collection-1</a></li>
                <li><a href="/static/resources/svgs_collection (2).zip" download>svgs_collection-2</a></li>
                <li><a href="/static/resources/svgs_collection (3).zip" download>svgs_collection-3</a></li>
                <li><a href="/static/resources/svgs_collection (4).zip" download>svgs_collection-4</a></li>
                <li><a href="/static/resources/svgs_collection (5).zip" download>svgs_collection-5</a></li>
                <li><a href="/static/resources/svgs_collection (6).zip" download>svgs_collection-6</a></li>
                <li><a href="/static/resources/svgs_collection (7).zip" download>svgs_collection-7</a></li>
                <li><a href="/static/resources/svgs_collection (8).zip" download>svgs_collection-8</a></li>
                <li><a href="/static/resources/svgs_collection (9).zip" download>svgs_collection-9</a></li>
                <li><a href="/static/resources/svgs_collection (10).zip" download>svgs_collection-10</a></li>
                <li><a href="/static/resources/svgs_collection (11).zip" download>svgs_collection-11</a></li>
                <li><a href="/static/resources/svgs_collection (12).zip" download>svgs_collection-12</a></li>
                <li><a href="/static/resources/svgs_collection (13).zip" download>svgs_collection-13</a></li>
                <li><a href="/static/resources/svgs_collection (14).zip" download>svgs_collection-14</a></li>
                <li><a href="/static/resources/svgs_collection (15).zip" download>svgs_collection-15</a></li>
                <li><a href="/static/resources/svgs_collection (16).zip" download>svgs_collection-16</a></li>
                <li><a href="/static/resources/svgs_collection (17).zip" download>svgs_collection-17</a></li>
                <li><a href="/static/resources/svgs_collection (18).zip" download>svgs_collection-18</a></li>
                <li><a href="/static/resources/svgs_collection (19).zip" download>svgs_collection-19</a></li>
                <li><a href="/static/resources/svgs_collection (20).zip" download>svgs_collection-20</a></li>
                <li><a href="/static/resources/svgs_collection (21).zip" download>svgs_collection-21</a></li>
                <li><a href="/properties/s/scroll-margin/">scroll-margin</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-T">
             <div class="selector-letter"><a href="/selectors/t/">T</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/t/target/">:target</a></li>
                <li><a href="/selectors/t/type/">Type</a></li>
             </div>
             <div class="property-letter"><a href="/properties/t/">T</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/t/touch-action/">touch-action</a></li>
                <li><a href="/properties/t/text-justify/">text-justify</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-U">
             <div class="selector-letter"><a href="/selectors/u/">U</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/u/user-invalid/">:user-invalid</a></li>
                <li><a href="/selectors/u/universal/">Universal</a></li>
             </div>
             <div class="property-letter"><a href="/properties/u/">U</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/u/unicode-range/">unicode-range</a></li>
                <li><a href="/properties/u/unicode-bidi/">unicode-bidi</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-V">
             <div class="selector-letter"><a href="/selectors/v/">V</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/selectors/v/valid/">:valid</a></li>
                <li><a href="/selectors/v/visited/">:visited</a></li>
             </div>
             <div class="property-letter"><a href="/properties/v/">V</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/v/vertical-align/">vertical-align</a></li>
                <li><a href="/properties/v/visibility/">visibility</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-W">
             <div class="selector-letter"><a href="/selectors/w/">W</a></div>
             <div class="selector-list">
                <ol>
                <li><a href="/properties/w/word-spacing/">word-spacing</a></li>
                <li><a href="/properties/w/word-break/">word-break</a></li>
                <li><a href="/properties/w/widows/">widows</a></li>
             </div>
             <div class="property-letter"><a href="/properties/w/">W</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/w/writing-mode/">writing-mode</a></li>
                <li><a href="/properties/w/will-change/">will-change</a></li>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-X">
             <div class="selector-letter"><a href="/selectors/x/">X</a></div>
             <div class="selector-list">
                <ol>
             </div>
             <div class="property-letter"><a href="/properties/x/">X</a></div>
             <div class="property-list">
                <ol>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-Y">
             <div class="selector-letter"><a href="/selectors/y/">Y</a></div>
             <div class="selector-list">
                <ol>
             </div>
             <div class="property-letter"><a href="/properties/y/">Y</a></div>
             <div class="property-list">
                <ol>
             </div>
          </div>
          <div class="almanac-letter-row" id="letter-Z">
             <div class="selector-letter"><a href="/selectors/z/">Z</a></div>
             <div class="selector-list">
                <ol>
             </div>
             <div class="property-letter"><a href="/properties/z/">Z</a></div>
             <div class="property-list">
                <ol>
                <li><a href="/properties/z/zoom/">zoom</a></li>
                <li><a href="/properties/z/z-index/">z-index</a></li>
             </div>
          </div>
            </nav>
          </div>

<div class="post-a-job">
  <a href="{{ url_for('main.new_dwg') }}" class="button">Submit File</a>
  <br><br>
  ... over on the <a href="https://codepen.io/Projects/">CC-Resources Article Board</a>, which places the aticle here and on <a href="https://shoptalkshow.com/jobs">CC-Resources</a>.
</div>
{% endblock content %}
