{% extends "layout.html" %}
{% block content %}

    <header class="page-header" id="maincontent">

      <h1>Articles
            </h1>
        <p class="page-intro-p bold-underline-links">C'mon in. Make yourself at home. Stay a while. Other things welcoming people say. Just starting out? Check out our <a href="/guides/beginner/">beginner's guide</a>.</p>

      <div class="page-header-top-nav">

        <div class="page-header-top-nav-inside top-nav-archives">

          <form id="select-navigator" class="select-navigator" action="">
            <select name="select-navigator-select" id="select-navigator-select" class="custom-select">
              <option value="/archives/">Top Tags</option>
              <option value='/svg/'>Rhino</option><option value='/javascript/'>Grasshopper</option><option value='/wordpress/'>Autocad</option><option value='/jquery/'>Revit</option><option value='/react/'>react</option><option value='/accessibility/'>accessibility</option><option value='/animation/'>animation</option><option value='/performance/'>performance</option><option value='/css-2/'>CSS</option><option value='/vue/'>vue</option><option value='/typography/'>typography</option><option value='/forms/'>forms</option><option value='/grid/'>grid</option><option value='/custom-properties/'>custom properties</option><option value='/css-grid/'>css grid</option><option value='/responsive-images/'>responsive images</option><option value='/sass/'>Sass</option><option value='/css-variables/'>css variables</option><option value='/serverless/'>serverless</option><option value='/responsive/'>responsive</option>        </select>
          </form>

          <span class="number-of-articles">
            3925 Articles
          </span>

          <button class="button-invisible sorting-button" id="sorting-button">
            Sorting <span class="down-arrow"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-arrow-right">
    <path d="M7 12.5L23 12.5" stroke="url(#paint0_linear)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M1 12.5H2" stroke="url(#paint1_linear)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M17.5 7L23 12.5L17.5 18" stroke="url(#paint2_linear)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <defs>
    <linearGradient id="paint0_linear" x1="10.7498" y1="12.5" x2="11.3447" y2="9.73465" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FF8A00"/>
    <stop offset="1" stop-color="#DA1B60"/>
    </linearGradient>
    <linearGradient id="paint1_linear" x1="1.23436" y1="12.5" x2="2.00945" y2="12.2748" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FF8A00"/>
    <stop offset="1" stop-color="#DA1B60"/>
    </linearGradient>
    <linearGradient id="paint2_linear" x1="18.789" y1="17.9995" x2="23.3162" y2="17.3419" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FF8A00"/>
    <stop offset="1" stop-color="#DA1B60"/>
    </linearGradient>
    </defs>
    </svg>
    </span>
          </button>

          <form action="" id="sorting-controls" class="sorting-controls">
            {<br>
            <label for="order">&nbsp;&nbsp;'order' => &nbsp;</label>
            <select name="order" id="order" class="custom-select">
              <option selected
                            value="DESC">DESC</option>
              <option             value="ASC">ASC</option>
            </select>,<br>
            <label for="orderby">&nbsp;&nbsp;'orderby' => </label>
            <select name="orderby" id="orderby" class="custom-select">
              <option             value="date">date</option>
              <option             value="modified">modified</option>
              <option             value="rand">rand</option>
              <option             value="comment_count">comment_count</option>
            </select>
            <br>
            }
          </form>

        </div>

      </div>

    </header>

    <div class="popular-articles">
      <header class="popular-header header-card white-underline-links">
        <h2 class="header-card-title">
          Popular <br>this <br>month
        </h2>
        <p class="header-card-sponsor">Made by<br>
          <a href="https://ymcmbennie.github.io/portfolio/">Members</a>
        </p>
          </header>

      <div class="mini-card-grid">


    <article class="mini-card module module-article article" id="mini-post-281191">

      <header class="mini-article-card-header">

        <div class="mini-article-card-title">

          <div class="mini-article-subhead">
                      Video

            <time datetime="2019-02-07">
              Feb 7, 2019        </time>
          </div>

          <h2 class="">
            <a href="/where-do-you-learn-html-css-in-2019/" class="article-card-header read-article">
              Introduction to Rhino 6 Grasshopper in 2019        </a>
          </h2>

        </div>

      </header>

      <div class="mini-article-meta">

        <div class="mini-article-byline">
          <div class="author-avatar">
            <a class="author-name" href="/author/chriscoyier/">
              <img alt="" src="community/CSS-Tricks_files/8081b26e05bb4354f7d65ffc34cbbd67.jpeg" srcset="https://scontent.fbud2-1.fna.fbcdn.net/v/t1.0-1/p160x160/25659525_1660669194003997_812779653662270213_n.jpg?_nc_cat=102&_nc_ht=scontent.fbud2-1.fna&oh=d25af60e7c89bf71c5add09550701c2c&oe=5CE6E9FF" class="avatar avatar-80 photo" height="80" width="80">        </a>
            <svg class="half-circle" width="80px" height="80px">
              <use xlink:href="#half-circle"></use>
            </svg>
          </div>
          <div class="author-name-area">
            <div class="author-name-prefix">
              Author
            </div>
            <a class="author-name" href="/author/chriscoyier/">
              Benson Sanga        </a>
          </div>
        </div>

              <div class="tags">
            <a href="/tag/learning/" rel="tag">Grasshopper</a>      </div>

      </div>

    </article>



    <article class="mini-card module module-article article" id="mini-post-281711">

      <header class="mini-article-card-header">

        <div class="mini-article-card-title">

          <div class="mini-article-subhead">
                      Article

            <time datetime="2019-01-25">
              Jan 25, 2019        </time>
          </div>

          <h2 class="">
            <a href="/creating-your-own-gravity-and-space-simulator/" class="article-card-header read-article">
              Introduction to intricate Organic Architectural Geometries        </a>
          </h2>

        </div>

      </header>

      <div class="mini-article-meta">

        <div class="mini-article-byline">
          <div class="author-avatar">
            <a class="author-name" href="/author/darrellhuffman/">
              <img alt="" class="avatar avatar-80 photo avatar-default" height="80" src="https://scontent.fbud2-1.fna.fbcdn.net/v/t1.0-9/10340138_10202260633578490_5702157127281625448_n.jpg?_nc_cat=111&_nc_ht=scontent.fbud2-1.fna&oh=b7cfd65ece15ca558ce508a6f5d0b891&oe=5CE59920" width="80">        </a>
            <svg class="half-circle" width="80px" height="80px">
              <use xlink:href="#half-circle"></use>
            </svg>
          </div>
          <div class="author-name-area">
            <div class="author-name-prefix">
              Author
            </div>
            <a class="author-name" href="/author/darrellhuffman/">
              Dilara Caglayan        </a>
          </div>
        </div>

              <div class="tags">
            <a href="/tag/canvas/" rel="tag">Conceptual</a> <a href="/tag/canvas/" rel="tag">Geometry</a>     </div>

      </div>

    </article>



    <article class="mini-card module module-article article" id="mini-post-280085">

      <header class="mini-article-card-header">

        <div class="mini-article-card-title">

          <div class="mini-article-subhead">
                      Resources

            <time datetime="2019-01-21">
              Jan 21, 2019        </time>
          </div>

          <h2 class="">
            <a href="/the-great-divide/" class="article-card-header read-article">
              New DWG upload        </a>
          </h2>

        </div>

      </header>

      <div class="mini-article-meta">

        <div class="mini-article-byline">
          <div class="author-avatar">
            <a class="author-name" href="/author/chriscoyier/">
              <img alt="" src="community/CSS-Tricks_files/8081b26e05bb4354f7d65ffc34cbbd67.jpeg" srcset="https://scontent.fbud2-1.fna.fbcdn.net/v/t1.0-1/p160x160/25659525_1660669194003997_812779653662270213_n.jpg?_nc_cat=102&_nc_ht=scontent.fbud2-1.fna&oh=d25af60e7c89bf71c5add09550701c2c&oe=5CE6E9FF" class="avatar avatar-80 photo" height="80" width="80">        </a>
            <svg class="half-circle" width="80px" height="80px">
              <use xlink:href="#half-circle"></use>
            </svg>
          </div>
          <div class="author-name-area">
            <div class="author-name-prefix">
              Author
            </div>
            <a class="author-name" href="/author/chriscoyier/">
              Benson Sanga        </a>
          </div>
        </div>

              <div class="tags">
                <a href="/tag/front-end-developer/" rel="tag">Minor-Architect</a>
                <a href="/tag/front-end-developer/" rel="tag">Developer</a>
                <a href="/tag/front-end-developer/" rel="tag">Designer</a>
              </div>

      </div>

    </article>



    <article class="mini-card module module-article article" id="mini-post-282450">

      <header class="mini-article-card-header">

        <div class="mini-article-card-title">

          <div class="mini-article-subhead">
                      Video

            <time datetime="2019-02-21">
              Feb 21, 2019        </time>
          </div>

          <h2 class="">
            <a href="/css-variables-calc-rgb-enforcing-high-contrast-colors/" class="article-card-header read-article">
              New Grasshopper Plugin and how to use to use it        </a>
          </h2>

        </div>

      </header>

      <div class="mini-article-meta">

        <div class="mini-article-byline">
          <div class="author-avatar">
            <a class="author-name" href="/author/joshbader/">
              <img alt="" src="community/CSS-Tricks_files/c7b4bbbb2aa3d1ba1ba37fac7c435e76.jpeg" srcset="https://secure.gravatar.com/avatar/c7b4bbbb2aa3d1ba1ba37fac7c435e76?s=160&amp;d=retro&amp;r=pg 2x" class="avatar avatar-80 photo" height="80" width="80">        </a>
            <svg class="half-circle" width="80px" height="80px">
              <use xlink:href="#half-circle"></use>
            </svg>
          </div>
          <div class="author-name-area">
            <div class="author-name-prefix">
              Author
            </div>
            <a class="author-name" href="/author/joshbader/">
              Josh Bader        </a>
          </div>
        </div>

              <div class="tags">
            <a href="/tag/accessibility/" rel="tag">accessibility</a> <a href="/tag/accessibility-color/" rel="tag">accessibility color</a> <a href="/tag/calc/" rel="tag">calc</a> <a href="/tag/css-variables/" rel="tag">css variables</a> <a href="/tag/custom-properties/" rel="tag">custom properties</a> <a href="/tag/rgba/" rel="tag">rgba</a>      </div>

      </div>

    </article>



    <article class="mini-card module module-article article" id="mini-post-280293">

      <header class="mini-article-card-header">

        <div class="mini-article-card-title">

          <div class="mini-article-subhead">
                      Article

            <time datetime="2019-01-17">
              Jan 17, 2019        </time>
          </div>

          <h2 class="">
            <a href="/2019-css-wishlist/" class="article-card-header read-article">
              2019 CSS Wishlist        </a>
          </h2>

        </div>

      </header>

      <div class="mini-article-meta">

        <div class="mini-article-byline">
          <div class="author-avatar">
            <a class="author-name" href="/author/chriscoyier/">
              <img alt="" src="community/CSS-Tricks_files/8081b26e05bb4354f7d65ffc34cbbd67.jpeg" srcset="https://scontent.fbud2-1.fna.fbcdn.net/v/t1.0-1/p160x160/25659525_1660669194003997_812779653662270213_n.jpg?_nc_cat=102&_nc_ht=scontent.fbud2-1.fna&oh=d25af60e7c89bf71c5add09550701c2c&oe=5CE6E9FF" class="avatar avatar-80 photo" height="80" width="80">        </a>
            <svg class="half-circle" width="80px" height="80px">
              <use xlink:href="#half-circle"></use>
            </svg>
          </div>
          <div class="author-name-area">
            <div class="author-name-prefix">
              Author
            </div>
            <a class="author-name" href="/author/chriscoyier/">
              Benson Sanga        </a>
          </div>
        </div>


      </div>

    </article>



    <article class="mini-card module module-article article" id="mini-post-280754">

      <header class="mini-article-card-header">

        <div class="mini-article-card-title">

          <div class="mini-article-subhead">
                      Article

            <time datetime="2019-01-07">
              Jan 7, 2019        </time>
          </div>

          <h2 class="">
            <a href="/reader-mode-the-button-to-beat/" class="article-card-header read-article">
              Reader Mode: The Button to Beat        </a>
          </h2>

        </div>

      </header>

      <div class="mini-article-meta">

        <div class="mini-article-byline">
          <div class="author-avatar">
            <a class="author-name" href="/author/ericwbailey/">
              <img alt="" src="community/CSS-Tricks_files/188a9d4deb76ac6e69c7f65358897476.png" srcset="https://secure.gravatar.com/avatar/188a9d4deb76ac6e69c7f65358897476?s=160&amp;d=retro&amp;r=pg 2x" class="avatar avatar-80 photo" height="80" width="80">        </a>
            <svg class="half-circle" width="80px" height="80px">
              <use xlink:href="#half-circle"></use>
            </svg>
          </div>
          <div class="author-name-area">
            <div class="author-name-prefix">
              Author
            </div>
            <a class="author-name" href="/author/ericwbailey/">
              Eric Bailey        </a>
          </div>
        </div>

              <div class="tags">
            <a href="/tag/accessibility/" rel="tag">accessibility</a>      </div>

      </div>

    </article>



    <article class="mini-card module module-article article" id="mini-post-280848">

      <header class="mini-article-card-header">

        <div class="mini-article-card-title">

          <div class="mini-article-subhead">
                      Article

            <time datetime="2019-01-04">
              Jan 4, 2019        </time>
          </div>

          <h2 class="">
            <a href="/2018-staff-favorites/" class="article-card-header read-article">
              2018 Staff Favorites        </a>
          </h2>

        </div>

      </header>

      <div class="mini-article-meta">

        <div class="mini-article-byline">
          <div class="author-avatar">
            <a class="author-name" href="/author/geoffgraham/">
              <img alt="" src="community/CSS-Tricks_files/ac0d6274a6cea04669e66a20ec0ea204.jpeg" srcset="https://secure.gravatar.com/avatar/ac0d6274a6cea04669e66a20ec0ea204?s=160&amp;d=retro&amp;r=pg 2x" class="avatar avatar-80 photo" height="80" width="80">        </a>
            <svg class="half-circle" width="80px" height="80px">
              <use xlink:href="#half-circle"></use>
            </svg>
          </div>
          <div class="author-name-area">
            <div class="author-name-prefix">
              Author
            </div>
            <a class="author-name" href="/author/geoffgraham/">
              Geoff Graham        </a>
          </div>
        </div>

              <div class="tags">
            <a href="/tag/favorites/" rel="tag">favorites</a>      </div>

      </div>

    </article>



    <article class="mini-card module module-article article" id="mini-post-281890">

      <header class="mini-article-card-header">

        <div class="mini-article-card-title">

          <div class="mini-article-subhead">
                      Article

            <time datetime="2019-01-28">
              Jan 28, 2019        </time>
          </div>

          <h2 class="">
            <a href="/the-slow-and-steady-refactor/" class="article-card-header read-article">
              The Slow and Steady Refactor        </a>
          </h2>

        </div>

      </header>

      <div class="mini-article-meta">

        <div class="mini-article-byline">
          <div class="author-avatar">
            <a class="author-name" href="/author/robinrendle/">
              <img alt="" class="avatar avatar-80 photo avatar-default" height="80" src="community/CSS-Tricks_files/me-black-white-80x80.jpg" width="80">        </a>
            <svg class="half-circle" width="80px" height="80px">
              <use xlink:href="#half-circle"></use>
            </svg>
          </div>
          <div class="author-name-area">
            <div class="author-name-prefix">
              Author
            </div>
            <a class="author-name" href="/author/robinrendle/">
              Robin Rendle        </a>
          </div>
        </div>

              <div class="tags">
            <a href="/tag/refactor/" rel="tag">refactor</a>      </div>

      </div>

    </article>



    <article class="mini-card module module-article " id="mini-post-280720">

      <header class="mini-article-card-header">

        <div class="mini-article-card-title">

          <div class="mini-article-subhead">
                      Article

            <time datetime="2019-01-09">
              Jan 9, 2019        </time>
          </div>

          <h2 class="">
            <a href="/video-screencasts/168-css-in-js/" class="article-card-header read-article">
              #168: CSS-in-JS        </a>
          </h2>

        </div>

      </header>

      <div class="mini-article-meta">

        <div class="mini-article-byline">
          <div class="author-avatar">
            <a class="author-name" href="/author/chriscoyier/">
              <img alt="" src="community/CSS-Tricks_files/8081b26e05bb4354f7d65ffc34cbbd67.jpeg" srcset="https://scontent.fbud2-1.fna.fbcdn.net/v/t1.0-1/p160x160/25659525_1660669194003997_812779653662270213_n.jpg?_nc_cat=102&_nc_ht=scontent.fbud2-1.fna&oh=d25af60e7c89bf71c5add09550701c2c&oe=5CE6E9FF" class="avatar avatar-80 photo" height="80" width="80">        </a>
            <svg class="half-circle" width="80px" height="80px">
              <use xlink:href="#half-circle"></use>
            </svg>
          </div>
          <div class="author-name-area">
            <div class="author-name-prefix">
              Author
            </div>
            <a class="author-name" href="/author/chriscoyier/">
              Benson Sanga        </a>
          </div>
        </div>

              <div class="tags">
            <a href="/tag/css-in-js/" rel="tag">css-in-js</a> <a href="/tag/emotion/" rel="tag">emotion</a> <a href="/tag/glamerous/" rel="tag">glamerous</a> <a href="/tag/styled-components/" rel="tag">styled components</a>      </div>

      </div>

    </article>



    <article class="mini-card module module-article article" id="mini-post-281419">

      <header class="mini-article-card-header">

        <div class="mini-article-card-title">

          <div class="mini-article-subhead">
                      Article

            <time datetime="2019-01-18">
              Jan 18, 2019        </time>
          </div>

          <h2 class="">
            <a href="/star-apps-a-new-generation-of-front-end-tooling-for-development-workflows/" class="article-card-header read-article">
              STAR Apps: A New Generation of Front-End Tooling for Development Workflows        </a>
          </h2>

        </div>

      </header>

      <div class="mini-article-meta">

        <div class="mini-article-byline">
          <div class="author-avatar">
            <a class="author-name" href="/author/swyx/">
              <img alt="" class="avatar avatar-80 photo avatar-default" height="80" src="community/CSS-Tricks_files/39973926-0f34b514-56f3-11e8-9c4e-59547fedb719-80x80.jpg" width="80">        </a>
            <svg class="half-circle" width="80px" height="80px">
              <use xlink:href="#half-circle"></use>
            </svg>
          </div>
          <div class="author-name-area">
            <div class="author-name-prefix">
              Author
            </div>
            <a class="author-name" href="/author/swyx/">
              Shawn Wang        </a>
          </div>
        </div>

              <div class="tags">
            <a href="/tag/design-tooling/" rel="tag">design tooling</a> <a href="/tag/javascript-framework/" rel="tag">javascript framework</a> <a href="/tag/trend/" rel="tag">trend</a>      </div>

      </div>

    </article>



    <article class="mini-card module module-article article" id="mini-post-279638">

      <header class="mini-article-card-header">

        <div class="mini-article-card-title">

          <div class="mini-article-subhead">
                      Article

            <time datetime="2018-12-20">
              Dec 20, 2018        </time>
          </div>

          <h2 class="">
            <a href="/regarding-css-global-scope/" class="article-card-header read-article">
              Regarding CSS’s Global Scope        </a>
          </h2>

        </div>

      </header>

      <div class="mini-article-meta">

        <div class="mini-article-byline">
          <div class="author-avatar">
            <a class="author-name" href="/author/chriscoyier/">
              <img alt="" src="community/CSS-Tricks_files/8081b26e05bb4354f7d65ffc34cbbd67.jpeg" srcset="https://scontent.fbud2-1.fna.fbcdn.net/v/t1.0-1/p160x160/25659525_1660669194003997_812779653662270213_n.jpg?_nc_cat=102&_nc_ht=scontent.fbud2-1.fna&oh=d25af60e7c89bf71c5add09550701c2c&oe=5CE6E9FF" class="avatar avatar-80 photo" height="80" width="80">        </a>
            <svg class="half-circle" width="80px" height="80px">
              <use xlink:href="#half-circle"></use>
            </svg>
          </div>
          <div class="author-name-area">
            <div class="author-name-prefix">
              Author
            </div>
            <a class="author-name" href="/author/chriscoyier/">
              Benson Sanga        </a>
          </div>
        </div>

              <div class="tags">
            <a href="/tag/css-in-js/" rel="tag">css-in-js</a> <a href="/tag/global-scope/" rel="tag">global scope</a>      </div>

      </div>

    </article>

          </div>

    </div>

    <div class="post-a-job">
      <a href="{{ url_for('main.new_article') }}" class="button">New article</a>
      <br><br>
      ... over on the <a href="https://codepen.io/Projects/">CC-Resources Article Board</a>, which places the aticle here and on <a href="https://shoptalkshow.com/jobs">CC-Resources</a>.
    </div>

{% endblock content %}
