{% extends "layout.html" %}
{% block content %}

    <div class="monthly-mixup">

        <h1>
          Welcome To CC-Resources
            </h1>

        <svg class="mixup-background-star" width="35px" height="35px">
          <use xlink:href="#icon-logo-star"></use>
        </svg>



      <div class="mixup-card mixup-category-">


            <a href="https://css-tricks.com/almanac/properties/c/counter-increment/" class="almanac-example">
              <code class=" language-css"><span class="token selector"><span class="token class">Python</span></span> <span class="token punctuation">{</span>
        <span class="token property">Or</span><span class="token punctuation">:</span> C# Prog<span class="token punctuation">;</span>
      <span class="token punctuation">}</span></code>
            </a>


      </div>


      <div class="mixup-card mixup-category-article">


            <div class="mixup-card-header">
              Article
              <time datetime="2017-09-18">
                Sep 18, 2017        </time>
            </div>

            <h3>
              <a href="https://css-tricks.com/react-dataviz/" class="article-card-header read-article">
                Design Analysis + Dataviz        </a>
            </h3>

            <div class="mini-article-meta mini-article-byline">
              <div class="author-avatar">
                <a class="author-name" href="r/chriscoyier/">
                  <img alt="" src="https://scontent.flhr5-1.fna.fbcdn.net/v/t1.0-1/p160x160/25659525_1660669194003997_812779653662270213_n.jpg?_nc_cat=102&_nc_ht=scontent.flhr5-1.fna&oh=b901b17e5c04294b30c0d3cb8ae092fd&oe=5CE6E9FF" srcset="https://scontent.flhr5-1.fna.fbcdn.net/v/t1.0-1/p160x160/25659525_1660669194003997_812779653662270213_n.jpg?_nc_cat=102&_nc_ht=scontent.flhr5-1.fna&oh=b901b17e5c04294b30c0d3cb8ae092fd&oe=5CE6E9FF" class="avatar avatar-80 photo" height="80" width="80">          </a>
                <svg class="half-circle" width="80px" height="80px">
                  <use xlink:href="#half-circle"></use>
                </svg>
              </div>
              <div class="author-name-area">
                <div class="author-name-prefix">
                  Author
                </div>
                <a class="author-name" href="https://css-tricks.com/author/chriscoyier/">
                  Benson Sanga          </a>
              </div>
            </div>


      </div>


      <div class="mixup-card mixup-category-article">


            <div class="mixup-card-header">
              Article
              <time datetime="2019-01-13">
                Jan 13, 2019        </time>
            </div>

            <h3>
              <a href="https://css-tricks.com/slice-and-dice-a-disc-with-css/" class="article-card-header read-article">
                Slice and Dice organic models to make out of 2D Sheets   </a>
            </h3>

            <div class="mini-article-meta mini-article-byline">
              <div class="author-avatar">
                <a class="author-name" href="https://css-tricks.com/author/thebabydino/">
                  <img alt="" src="https://scontent.flhr5-1.fna.fbcdn.net/v/t1.0-1/p160x160/10340138_10202260633578490_5702157127281625448_n.jpg?_nc_cat=111&_nc_ht=scontent.flhr5-1.fna&oh=2fdb4d3b4990d67209e01872cd5b28fb&oe=5CDAB67F" srcset="https://scontent.flhr5-1.fna.fbcdn.net/v/t1.0-1/p160x160/10340138_10202260633578490_5702157127281625448_n.jpg?_nc_cat=111&_nc_ht=scontent.flhr5-1.fna&oh=2fdb4d3b4990d67209e01872cd5b28fb&oe=5CDAB67F" class="avatar avatar-80 photo" height="80" width="80">          </a>
                <svg class="half-circle" width="80px" height="80px">
                  <use xlink:href="#half-circle"></use>
                </svg>
              </div>
              <div class="author-name-area">
                <div class="author-name-prefix">
                  Author
                </div>
                <a class="author-name" href="https://css-tricks.com/author/thebabydino/">
                  Dilara Caglayan          </a>
              </div>
            </div>


      </div>


      <div class="mixup-card mixup-category-article">


            <div class="mixup-card-header">
              Article
              <time datetime="2018-12-12">
                Dec 12, 2018        </time>
            </div>

            <h3>
              <a href="https://css-tricks.com/keep-math-in-the-css/" class="article-card-header read-article">
                Trust Math in the Design Decisions?        </a>
            </h3>

            <div class="mini-article-meta mini-article-byline">
              <div class="author-avatar">
                <a class="author-name" href="https://css-tricks.com/author/chriscoyier/">
                  <img alt="" src="https://scontent.flhr5-1.fna.fbcdn.net/v/t1.0-1/p160x160/25659525_1660669194003997_812779653662270213_n.jpg?_nc_cat=102&_nc_ht=scontent.flhr5-1.fna&oh=b901b17e5c04294b30c0d3cb8ae092fd&oe=5CE6E9FF" srcset="https://scontent.flhr5-1.fna.fbcdn.net/v/t1.0-1/p160x160/25659525_1660669194003997_812779653662270213_n.jpg?_nc_cat=102&_nc_ht=scontent.flhr5-1.fna&oh=b901b17e5c04294b30c0d3cb8ae092fd&oe=5CE6E9FF" class="avatar avatar-80 photo" height="80" width="80">          </a>
                <svg class="half-circle" width="80px" height="80px">
                  <use xlink:href="#half-circle"></use>
                </svg>
              </div>
              <div class="author-name-area">
                <div class="author-name-prefix">
                  Author
                </div>
                <a class="author-name" href="https://css-tricks.com/author/chriscoyier/">
                  Benson Sanga          </a>
              </div>
            </div>


      </div>


      <div class="mixup-card mixup-category-">


            <a href="https://css-tricks.com/almanac/properties/r/resize/" class="almanac-example">
              <code class=" language-css"><span class="token selector"><span class="token class">.data</span></span> <span class="token punctuation">{</span>
        <span class="token property">Viz</span><span class="token punctuation">:</span> Geometry<span class="token punctuation">;</span>
      <span class="token punctuation">}</span></code>
            </a>


      </div>


      <div class="mixup-card mixup-category-article">


            <div class="mixup-card-header">
              Article
              <time datetime="2018-11-07">
                Nov 7, 2018        </time>
            </div>

            <h3>
              <a href="https://css-tricks.com/building-a-donut-chart-with-vue-and-svg/" class="article-card-header read-article">
                Building 3D cities with one or two clicks   </a>
            </h3>

            <div class="mini-article-meta mini-article-byline">
              <div class="author-avatar">
                <a class="author-name" href="https://css-tricks.com/author/salomonebaquis/">
                  <img alt="" src="https://secure.gravatar.com/avatar/51e92cac64de03c870db48f9534db7fa?s=80&amp;d=retro&amp;r=pg" srcset="https://secure.gravatar.com/avatar/51e92cac64de03c870db48f9534db7fa?s=160&amp;d=retro&amp;r=pg 2x" class="avatar avatar-80 photo" height="80" width="80">          </a>
                <svg class="half-circle" width="80px" height="80px">
                  <use xlink:href="#half-circle"></use>
                </svg>
              </div>
              <div class="author-name-area">
                <div class="author-name-prefix">
                  Author
                </div>
                <a class="author-name" href="https://css-tricks.com/author/salomonebaquis/">
                  Salomone Baquis          </a>
              </div>
            </div>


      </div>


      <div class="mixup-card mixup-category-">


            <header class="mixup-card-header mixup-card-header-video">
              Video
              <time datetime="2018-10-18">
                Oct 18, 2018        </time>
            </header>


            <h3 class="mixup-card-title-video">
              <a href="https://css-tricks.com/video-screencasts/165-building-your-backend-with-serverless-functions/">
                <span>
                  <span class="video-number">
                    #165            </span>
                   Building Your Resource collections</span>
                <span class="watch-video-button">
                  <svg class="icon-play" width="35px" height="35px">
                    <use xlink:href="#icon-play"></use>
                  </svg>
                  <div>
                    <time>Running Time: <span>29:06</span></time>
                  </div>
                </span>
              </a>
            </h3>


      </div>

        <div class="mixup-card mixup-card-sponsor">
          <div class="monthly-sponsor-text">
        <div class="subhead">Monthly Sponsor</div>
        <h5>Thanks, Wix!</h5>

        <p class="bold-underline-links">
          <a href="https://syncsadcascsd.co/2XurS24">Wix.com</a> is the place to build your professional website. Get 100s of design features to create your next website.
        </p>
      </div>

      <div class="monthly-sponsor-image">
        <a href="https://synd.co/2XurS24">
          <img src="/static/title.png" alt="Wix logo">
        </a>
      </div>  </div>

        <div class="mixup-design-card-1"></div>
        <div class="mixup-design-card-2"></div>
        <div class="mixup-design-card-3"></div>

      </div>

    {% for post in posts.items %}



    <article class="article-card module module-article link" id="post-283328">

        <style>
        #post-283328::after {
          content: "";
          position: absolute; top: 0; right: 0; width: 80%; height: 80%;
          background-image:
            radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.75), #100e17),
            url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b2745b64395233.5ad0a38667825.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          opacity: 0.75;
          /* filter: grayscale(100%); */
        }
      </style>

      <div class="article-article">
        <header class="article-publication-meta">

            <svg class="icon-link" width="28px" height="28px">
          <use xlink:href="#icon-link"></use>
        </svg>
        <strong>Link</strong>
            <time datetime="2019-02-27">{{ post.date_posted.strftime('%Y-%m-%d') }}</time>
        </header>

        <h2>
          <a href="https://www.jayfreestone.com/writing/wrapping-and-inline-pseudo-elements/">
            {{ post.title }}      </a>
        </h2>



          <div class="link-line">

            <a class="author-name link-shared-by" href="/author/chriscoyier/">
              <div class="author-avatar">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                  <use xlink:href="#half-circle"></use>
                </svg>
              </div>
              <div>Shared by<br>
              <span>{{ post.author }}</span></div>
            </a>


        <div class="article-content">
          <p>{{ post.content }}</p>
    <p>Things involved:</p>
    <ol>
    <li>Cool <code>[attribute]</code> selectors that identify off-site links</li>
    <li>Deliberating on whether it's OK to use additional HTML within links or not</li>
    <li>Usage of <code>white-space</code></li>
    <li>Combining <code>margin-left</code> and <code>padding-right</code> to place </li></ol>… <a href="/text-wrapping-inline-pseudo-elements/" class="read-more">Read article</a>    </div>

              <div class="link-links">
            <a href="/text-wrapping-inline-pseudo-elements/" class="link-read-more">
              Our Notes
            </a>

            &nbsp;&nbsp;/&nbsp;&nbsp;

            <a href="https://www.jayfreestone.com/writing/wrapping-and-inline-pseudo-elements/" class="link-read-more">
              Read at
              www.matokeo.online          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon-arrow-right">
    <path d="M7 12.5L23 12.5" stroke="url(#paint0_linear)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M1 12.5H2" stroke="url(#paint1_linear)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M17.5 7L23 12.5L17.5 18" stroke="url(#paint2_linear)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <defs>
    <lineargradient id="paint0_linear" x1="10.7498" y1="12.5" x2="11.3447" y2="9.73465" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FF8A00"></stop>
    <stop offset="1" stop-color="#DA1B60"></stop>
    </lineargradient>
    <lineargradient id="paint1_linear" x1="1.23436" y1="12.5" x2="2.00945" y2="12.2748" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FF8A00"></stop>
    <stop offset="1" stop-color="#DA1B60"></stop>
    </lineargradient>
    <lineargradient id="paint2_linear" x1="18.789" y1="17.9995" x2="23.3162" y2="17.3419" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FF8A00"></stop>
    <stop offset="1" stop-color="#DA1B60"></stop>
    </lineargradient>
    </defs>
    </svg>
            </a>
          </div>

          <div class="tags">
        <a href="/tag/attribute-selectors/" rel="tag">attribute selectors</a> <a href="/tag/inline-block/" rel="tag">inline-block</a> <a href="/tag/psuedo-elements/" rel="tag">psuedo elements</a> <a href="/tag/svg/" rel="tag">SVG</a>  </div>

      </div>

        </div> <!-- end .link-line -->

    </article>
    {% endfor %}

    <nav class="breadcrumbs">
        <div class='wp_page_numbers'>
          <ul>
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
              {% if page_num %}
                {% if posts.page == page_num %}
                  <li class="active_page"><a class="bactive_page" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a></li>
                {% else %}
                  <li class="active_page"><a class="bactive_page" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a></li>
                {% endif %}
              {% else %}
                ...
              {% endif %}
            {% endfor %}
          </ul>
        <div style='float: none; clear: both;'></div>
      </div>
    </nav>
{% endblock content %}