{% extends "layout.html" %}
{% block content %}
    <header class="page-header" id="maincontent">

  <h1>Scipts</h1>

  <blockquote class="page-intro-p">
    <span>You don't have to reinvet the wheel. Sometimes you just gatta stand on the shoulders of giants</span>
    <cite>&mdash; <a href="https://ymcmbennie.github.io/portfolio/">Benson Sanga</a></cite>
  </blockquote>

  <nav class="page-header-top-nav">
    <div class="page-header-top-nav-inside">
      <ul class="snippet-top-level-nav" id="snippet-top-level-nav">
        <li id="page-item-3231"><a href="/snippets/html/">Grasshopper</a></li>
        <li id="page-item-3222"><a href="/snippets/css/">Rhino</a></li>
        <li id="page-item-191187"><a href="/snippets/sass/">Espresso</a></li>
        <li id="page-item-254217"><a href="/snippets/svg/">3DS max</a></li>
        <li id="page-item-3826"><a href="/snippets/htaccess/">C#</a></li>
        <li id="page-item-3245"><a href="/snippets/jquery/">Python</a></li>
        <li id="page-item-3229"><a href="/snippets/wordpress/">Revit</a></li>
        <li id="page-item-3233"><a href="/snippets/php/">Dynamo</a></li>
      </ul>
    </div>
  </nav>

</header>

<div class="page-wrap page-wrap-max-width">

  <main>

    <div class="list-of-snippets HTML" id="list-of-snippets">
    <ol class="list-of-snippets limit-shown">

      <li data-category="HTML">

        <a class="snippet-title" href="/static/scripts/slicing_buildings.gh" download>
          Slicing building form for floor plates  </a>

        <div class="snippet-updated">
          Last updated
          <br>
          <time datetime="">
            Mar 09 2019          </time>
        </div>

        <div class="snippet-author">
          Author
          <br>
          <a class="snippet-author-link" href="https://ymcmbennie.github.io/portfolio/">
            Benson Sanga          </a>
        </div>

        <div class="snippet-category">
          Category
          <br>
            <a href="#">
            Grasshopper
          </a>
        </div>

      </li>
      <li data-category="JavaScript">

        <a href="/static/scripts/tower_massing.gh" class="snippet-title" download>Massing Sky scrapper Script</a>

        <div class="snippet-updated">
          Last updated
          <br>
          <time datetime="">
            Mar 09 2019          </time>
        </div>

        <div class="snippet-author">
          Author
          <br>
          <a class="snippet-author-link" href="https://ymcmbennie.github.io/portfolio/">
            Benson Sanga          </a>
        </div>

        <div class="snippet-category">
          Category
          <br>
            <a href="#">
            Grasshopper
          </a>
        </div>

      </li>
       <li data-category="JavaScript">

        <a  class="snippet-title" href="/static/resources/site_exports.rar" download>Piotkowska Site in 3D</a>

        <div class="snippet-updated">
          Last updated
          <br>
          <time datetime="">
            april 05 2019          </time>
        </div>

        <div class="snippet-author">
          Author
          <br>
          <a class="snippet-author-link" href="https://ymcmbennie.github.io/portfolio/">
            Benson Sanga          </a>
        </div>

        <div class="snippet-category">
          Category
          <br>
            <a href="#">
            Urban Design
          </a>
        </div>

      </li>
      </ol>


    </div>
{% endblock content %}
