{% extends "layout.html" %}
{% block content %}
    <div class="all-site-wrap" id="all-site-wrap">
        <circle-text r="70" class="circle-text-videos">
          Search What you seek
        </circle-text>

        <svg width="624" height="443" viewBox="0 0 624 443" xmlns="http://www.w3.org/2000/svg" class="blob-top-right">
        <path d="M260 -0.99952C160.589 -0.999515 80 79.5892 80 179.001C80 278.412 160.589 359.001 260 359.001L624 359L624 -0.999535L260 -0.99952Z" fill="url(#orange-to-pink)" />
        </svg>
        <svg width="500" height="500" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" class="blob-circle">
          <circle cx="250" cy="250" r="250" fill="url(#orange-to-pink)" />
        </svg>
        <svg width="250" height="250" viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" class="blob-circle-small">
          <circle cx="250" cy="250" r="250" />
        </svg>

        <header class="page-header" id="maincontent">

          <h1>Searching Portals</h1>

          <blockquote class="page-intro-p"><span>Pick one of the categories and search for what you want for your project or just take a look at the quality materials available</span><cite>&mdash; <a href="https://ymcmbennie.github.io/portfolio/">Benson Sanga</a></cite></blockquote>

          <svg viewBox="0 0 100 20" class="header-line-only">
          <path d="M 0 20 L 90 20 Q 100 20 100 10 L 100 0">
        </svg>

        </header>

        <div class="page-wrap page-wrap-max-width">

          <div class="video-grid">


          <article class="video-module">

          <div class="video-info">
            <h2>


              <a href="{{ url_for('main.tutorial001') }}">
                <span>
                  <span class="video-number">
                    001          </span>
                   People cutouts</span>
                <span class="watch-video-button">

                  <div>
                    <strong>Start Your search</strong>
                    <time>Last Updated<span>Mar 2019</span></time>
                  </div>
                </span>
                <div class="video-thumb">
                  <img class="video-thumbnail" src="https://i.ytimg.com/vi/pxNrUg7t0Mg/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBSKMkNKAnPCjbNKxeIYIiq0tunIQ" alt="Cganging back grounds">
                </div>
              </a>
            </h2>

            <div class="video-description">
              <p>A collection of 2D cutouts of people in high quality</p>
        <blockquote><p>Quoted to be the best collection ever. Idk im just filling in the text</p></blockquote>&hellip; <a href="{{ url_for('main.tutorial001') }}" class="read-more">Learn More</a>    </div>
          </div>
        </article>

        </div>

        <div class="post-a-job">
          <a href="{{ url_for('main.tutorial001') }}" class="button">See All</a>
          <br><br>
          ... over on the <a href="https://codepen.io/Projects/">CC-Resources tutorial Catalogue</a>, You can see all the objects by name <a href="{{ url_for('main.dwg') }}">Catalogue</a>.
        </div>
{% endblock content %}
